.cart {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0.3rem;
  z-index: 6;
  width: 90vw;
  background: hsl(0, 0%, 100%);
  border-radius: 6px;
  padding: 1rem 0;
}

.cart h2 {
  margin: 0;
  border-bottom: 1px solid hsl(220, 14%, 75%);
  padding: 1rem;
}

.cart > p {
  color: hsl(219, 9%, 45%);
  font-weight: bold;
  text-align: center;
  margin: 3rem 0;
}

.products {
  padding: 1rem;
}

.products > img {
  display: inline-block;
  vertical-align: middle;
  width: 15%;
  border-radius: 6px;
}

.products > div {
  display: inline-block;
  vertical-align: middle;
  width: 74%;
  padding-left: 1rem;
}

.products .total {
  font-weight: bold;
}

.products .delete {
  width: 10%;
  vertical-align: middle;
}

.products .checkout {
  background: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  width: 100%;
  border: none;
  font-weight: bold;
  padding: 1rem 0;
  border-radius: 6px;
  font-size: 1rem;
}

.products .checkout:hover {
  background: hsl(25, 100%, 94%);
}

@media (min-width: 800px) {
  .cart {
    width: 25rem;
    right: 0;
    top: 6rem;
    left: initial;
    transform: none;
    box-shadow: 5px 10px 20px 1px hsl(220, 14%, 75%);
  }
}
