header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1.2rem;
}

.menu {
  display: none;
}

.menu ul {
  list-style-type: none;
  margin: 1rem 0;
  padding: 0;
}

.menu li {
  padding: 0.9rem 0;
}

.menu a {
  text-decoration: none;
  color: hsl(220, 13%, 13%);
  font-weight: 700;
}

.mobile {
  position: absolute;
  display: block;
  z-index: 6;
  top: 0;
  left: 0;
  background: hsl(0, 0%, 100%);
  max-width: 70vw;
  width: 30rem;
  height: 100vh;
  padding-left: 1.3rem;
}

.mobile button {
  margin: 1rem 0;
}

.logo {
  display: inline-block;
  margin: 0 1rem;
}

.actions {
  display: inline-block;
  position: absolute;
  right: 1.2rem;
}

.actions > button,
.actions > img {
  vertical-align: middle;
  margin: 0 0.7rem;
}

.badge {
  position: relative;
}

.avatar {
  width: 30px;
}

@media (min-width: 800px) {
  .logo {
    vertical-align: middle;
  }

  .menu {
    display: inline-block;
    vertical-align: middle;
  }

  .menu li {
    display: inline-block;
    padding: 0 1rem;
  }

  .menu a {
    color: hsl(219, 9%, 45%);
    font-weight: normal;
  }

  .avatar {
    width: 4rem;
  }
}
