.main {
  margin-top: 4.3rem;
}

.product-info {
  padding: 0.2rem 1rem;
}

.manufacturer {
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  font-size: 0.8rem;
}

.title {
  font-size: 1.8rem;
}

.description {
  color: hsl(219, 9%, 45%);
}

@media (min-width: 800px) {
  .main {
    margin-top: 0;
  }

  .pictures {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
  }

  .product-info {
    vertical-align: middle;
    display: inline-block;
    width: 49%;
  }
}
