.main {
  margin-top: 4.3rem;
}

.product-info {
  padding: 0.2rem 1rem;
}

.manufacturer {
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  font-size: 0.8rem;
}

.title {
  font-size: 1.8rem;
}

.description {
  color: hsl(219, 9%, 45%);
}
